
<div class="app-header"></div>
<div class="head-outdoors-app"></div>

<script type="text/javascript">
  $(function() {
    HeadOutdoors.CURRENT_USER_EMAIL = {
      emai: "<%= current_user.email %>"
    };

    HeadOutdoors.initialize();
  });
</script>
