<%#= render "/shared/errors" %>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <div class="alert alert-danger text-center" role="alert">
        <strong>Error: </strong><%= error %>
      </div>
    <% end %>
<% end %>
<%= render "/shared/user_form", user: @user, is_login_page: true %>
