<h3 class="col-xs-offset-4 col-xs-4">Offer a New Activity</h3>

<form class="activity-form col-xs-offset-4 col-xs-4" role="form">
  <div class="form-group">
    <label for="activity_title">Title</label>
    <input type="text"
           id="activity_title"
           name="activity[title]"
           class="form-control"
           required
           value="<%= activity.escape('title') %>">
  </div>

  <div class="form-group">
    <label for="activity_desc">Description</label>
    <textarea id="activity_desc"
              name="activity[description]"
              class="form-control"
              required
              rows="8" cols="40"><%= activity.escape('description') %></textarea>
  </div>

  <div class="form-group">
    <button class="upload-image btn btn-default"
            type="button" name="button">Upload image
    </button>
  </div>

  <div class="form-group">
    <label for="activity_category">Categories</label>
    <input type="text"
           id="activity_category"
           name="category"
           placeholder="type and press enter"
           data-role="tagsinput"
           required
           class="form-control">
  </div>


  <div class="form-group">
     <label for="activity_capacity">Capacity</label>
     <input type="text"
            id="activity_capacity"
            name="activity[capacity]"
            class="form-control"
            required
            value="<%= activity.escape('capacity') %>">
  </div>

  <div class="form-group">
     <label for="activity_price">Price</label>
     <input type="text"
            id="activity_price"
            name="activity[price]"
            class="form-control"
            required
            value="<%= activity.escape('price') %>">
  </div>

  <div class="div-address-form"></div>

  <input type="submit" class="btn btn-default" value="Create Activity">
</form>
