<img src="<%= activity.escape('img_url') %>" alt="" />
<p>
  <%= activity.escape('title') %>
</p>
<p>
  <%= activity.escape('description') %>
</p>

<button type="button"
        name="button"
        class="book-activity">Book!</button>

<div class="reviews-index">

</div>
