<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"
       style='font-family:Ranga; font-size: 30px'>HeadOutdoors</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle"
            data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Browse
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/browse/cities">By City</a></li>
            <li><a href="#/browse/categories">By Category</a></li>
          </ul>
      </li>
      <li>
        <a href="#/activities/new">Offer New Activity</a>
      </li>
      <li>
        <a href="<%= '#/users/' + HeadOutdoors.CURRENT_USER.id %>">Profile</a>
      </li>
      <li>
        <a rel="nofollow"
           data-method="delete"
           href="/session">Logout</a>
    </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
