<hr>
<div class="col-md-12">
    <div class="raty-read-only"></div>
    <%= review.author().escape('email').split('@')[0] %>
    <span class="pull-right">
      <%= (new Date(review.escape('created_at'))).toLocaleDateString() %>
    </span>
    <p>
      <%= review.escape('body') %>
    </p>
</div>
