  <div class="search-banner-wrapper">
    <div class="row-search">

        <form role="form">
            <div class="input-group inline" id="search-controls">
              <div id="remote">
                 <input type="text"
                        class="form-control input-m categories-typeahead"
                        placeholder="I want to go.."
                        name="category">

                 <input type="text"
                        class="form-control input-m cities-typeahead"
                        placeholder="Near.."
                        name="city">
              </div>

               <span class="input-group-btn">
                 <button class="btn btn-default btn-sm" type="submit">
                   <span class="glyphicon glyphicon-search"></span>
                 </button>
               </span>
            </div>
        </form>

        <h5 id="search-index-banner-text">
          Go outside :-)
        </h5>
    </div>
</div>

<div class="center">
  <h2 id="search-index-heading">Browse Featured Listings</h2>
  <div class="btm-barred"></div>
  <p id='search-index-heading-tagline'><span>Choose your adventure.</span></p>
</div>

<!-- <div id="featured-activities-grid">
  <ul>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
   </ul>
</div> -->

<div class="container">
	<div class="row destacados">
		<div class="col-md-4">
    		<div>
				<img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>Diseño Web</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn-primary" title="Enlace">Leer más »</a>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>Desarrollo Web</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn-primary" title="Enlace">Leer más »</a>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>Alojamiento Web</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn-primary" title="Enlace">Leer más »</a>
			</div>
		</div>
	</div>
</div>
