
      <div class="thumbnail">
        <!-- TODO add thumbnail urls -->
         <img src="<%= activity.escape('img_url') %>" alt="" />
      </div>
      <div class="caption">
         <h5> <%= activity.escape('title') %></h5>
         <!-- TODO use max len -->
         <p> <%= activity.escape('description').substr(0, 100) + '...' %></p>
         <p>
            <a href="<%= '#/activities/' + activity.escape('id') %>"
               class="btn btn-primary result-dtl-btn"
               role="button">
               Details
            </a>
         </p>
      </div>
