  <div class="search-banner-wrapper">
    <div class="row-search">

        <form role="form">
            <div class="input-group inline" id="search-controls">
              <div id="remote">
                 <input type="text"
                        class="form-control input-m categories-typeahead"
                        placeholder="I want to go.."
                        name="category">

                 <input type="text"
                        class="form-control input-m cities-typeahead"
                        placeholder="Near.."
                        name="city">
              </div>

               <span class="input-group-btn">
                 <button class="btn btn-default btn-sm" type="submit">
                   <span class="glyphicon glyphicon-search"></span>
                 </button>
               </span>
            </div>
        </form>

        <h5 id="search-index-banner-text">
          Go outside :-)
        </h5>
    </div>
</div>

<div id="featured-activities-grid">
  <ul>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
    <li><a href="#"><img src="http://s17.postimg.org/xixeyesbz/image_grid.png"></a></li>
   </ul>
</div>
