  <div class="search-banner-wrapper">
    <div class="row-search">

        <form role="form">
            <div class="input-group inline" id="search-controls">
              <div id="remote">
                 <input type="text"
                        class="form-control input-m categories-typeahead"
                        placeholder="I want to go.."
                        name="category">

                 <input type="text"
                        class="form-control input-m cities-typeahead"
                        placeholder="Near.."
                        name="city">
              </div>

               <span class="input-group-btn">
                 <button class="btn btn-default btn-sm" type="submit">
                   <span class="glyphicon glyphicon-search"></span>
                 </button>
               </span>
            </div>
        </form>

        <h5 id="search-index-banner-text">
          Go outside :-)
        </h5>
    </div>
</div>

<div class="center">
  <h2 id="search-index-heading">Browse Featured Listings</h2>
  <div class="btm-barred"></div>
  <p id='search-index-heading-tagline'><span>Choose your adventure.</span></p>
</div>

<div class="container">
	<div class="row featured-activities">
    <% featuredActivities.each(function(activity) { %>
  		<div class="col-md-4">
  			<div>
  				<img src="<%= activity.get('img_url') %>" alt="" class="img-thumbnail">
  				<h2><%= activity.escape('title') %></h2>
  				<p><%= activity.escape('description').substr(0, 140) + '...' %></p>
  				<a href="<%='#/activities/' + activity.id %>" class="btn btn-primary">Learn More »</a>
  			</div>
  		</div>
    <% }) %>

	</div>
</div>
